* text=auto !eol
/Case.sldprt -text
/CaseCover.sldprt -text
/FrontPanel.sldprt -text
/LTD-6910HR.SLDPRT -text
/MLS800.SLDASM -text
Parts/1ESxx.SLDPRT -text
Parts/5GTH9XX.SLDPRT -text
Parts/61400416121.stp -text
Parts/62910416121.stp -text
Parts/PJ-036AH-SMT.SLDPRT -text
Parts/PJ-036AH-SMT.stp -text
Parts/Ra49b_Series.SLDPRT -text
Parts/SDS-50J.SLDPRT -text
Parts/SDS-50J.stp -text
Parts/usb-b/1.sldprt -text
Parts/usb-b/2.sldprt -text
Parts/usb-b/3.sldprt -text
Parts/usb-b/4.sldprt -text
Parts/usb-b/5.sldprt -text
Parts/usb-b/61400416121.SLDASM -text
/Rack[!!-~]unit.SLDASM -text
Step/1DS-1ES-1FS/1DS.stp -text
Step/1DS-1ES-1FS/1ESxx.stp -text
Step/1DS-1ES-1FS/1FSxx.stp -text
Step/TL3240[!!-~][!!-~]Actuator.sldprt -text
Step/TL3240[!!-~][!!-~]Actuator_1.sldprt -text
Step/TL3240[!!-~]Rd[!!-~]Cap[!!-~]Assembly.sldasm -text
Step/TL3240[!!-~]Rd[!!-~]Cap[!!-~]Clear[!!-~]Cover.sldprt -text
Step/TL3240[!!-~]Rd[!!-~]Cap[!!-~]Insert.sldprt -text
Step/TL3240[!!-~]SMT[!!-~]Housing.sldprt -text
Step/TL3240[!!-~]SMT[!!-~]Housing_1.sldprt -text
Step/TL3240[!!-~]SMT[!!-~]LED.sldprt -text
Step/TL3240[!!-~]SMT[!!-~]LED_1.sldprt -text
Step/TL3240Fxxxx.SLDASM -text
Step/TL3240Fxxxx.stp -text
Step/TL3240FxxxxTL3240R1CAPxxx.SLDASM -text
Step/TL3240FxxxxTL3240R1CAPxxx.stp -text
Step/TL3240R1CAPBLK.SLDASM -text
Step/TL3240R1CAPBLK.stp -text
*.svpj filter=lfs diff=lfs merge=lfs -text
*.sldasm filter=lfs diff=lfs merge=lfs -text
*.sldprt filter=lfs diff=lfs merge=lfs -text
*.stp filter=lfs diff=lfs merge=lfs -text
*.SLDPRT filter=lfs diff=lfs merge=lfs -text
*.SLDASDM filter=lfs diff=lfs merge=lfs -text
*.SLDASM filter=lfs diff=lfs merge=lfs -text
